// messages

.alert {
  margin-bottom: 0;
}

// header buttons

.navbar-inverse .navbar-nav {
  margin-left: 30px;

  & > li > a {
    margin-left: 10px;
    background: #f3eeee;
    color: #422b2b;
    position: relative;
    top: 15px;
    padding: 5px 10px;
    border-radius: 15px;

    &:hover {
      background: #422b2b;
      color: #f3eeee;
    }
  }
  & > li > .dropdown-menu {
    top: 45px;
    border-radius: 15px;
    padding: 0;

    & > li > a {
      background: #f3eeee;
      color: #422b2b;
    }

    & > li > a:hover {
      background: #422b2b;
      color: #f3eeee;
    }

    & > li:first-child > a {
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }
    & > li:last-child > a {
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
    }
  }
}

// home cta
.row.map-background {
  background: asset-url('mapbg.png');
  padding-top: 110px;
}
.row.map-background2{
  background: asset-url('mapbg.png') fixed;
  padding-top: 110px;
}

.main-call-to-action {
  text-align: center;

  h2 {
    margin-top: 0;
    font-size: 35px;
    line-height: 35px;
    margin-bottom: 20px;
  }
}

.cta-explanation {
  font-size: 15px;
  line-height: 17px;
  margin-bottom: 70px;
  @media only screen and (min-width: 992px) {
    margin-bottom: 110px;
  }
}

.main-cta-button {
  font-size: 34px;
  position: relative;
  left: 30px;
  top: 100px;
}

.map-background label {
  font-weight: 500;
  abbr {
    display: none; // refactor
  }
}
.path-left-background, .path-right-background {
  opacity: 0.06;
  position: absolute;
}

.path-left-background {
  background: asset-url('pathl.png');
  width: 184px;
  height: 248px;
  left: 18%; //270px;
  top: 195px;
}

.path-right-background {
  background: asset-url('pathr.png');
  width: 354px;
  height: 280px;
  left: 38%;
  top: 80px;
}

//

.tag-list a {
  margin: 4px 4px 4px 0;
  span.badge {
    font-size: 10px;
    margin-left: 5px;
  }
}

.input-group {
  margin-top: 4px;
  margin-bottom: 30px;
}

ul.tag-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  > li {
    margin: 0 4px 4px 0;
    display: inline-block;
  }
}

.icons {
  font-size: 13px;
  vertical-align: 2px;
  margin-right: 1em;
  > .fa {
    font-size: 15px;
    vertical-align: 0;
  }
}

// for tag input

ul {
  list-style-type: none;
  padding-left: 0;
}

ul.form-group li {
  display: inline;
}


// search

.search-container {
  margin-top: 20px;
  margin-left: ($grid-gutter-width / -2);
  margin-right: ($grid-gutter-width / -2);
}

@media (min-width: $screen-md) {
  .search-container .tag-list {
    height: 10px;
    overflow: visible;
  }
}

header a.navbar-brand {
  padding: 0;
}

textarea {
  resize: vertical;
}

a.btn.login-links {
  margin: 10px;
}

.well.nav-panes {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

a.treasure_link_no_hover {
  text-decoration:none;
  p { color: black; }
  &:hover {
    .well {
      background-color: #e0e0e0;
    }
  }
}
