.main-call-to-action {
  padding: 200px 0;
  text-align: center;
}

.tag-list a {
  margin: 0 4px 4px 0;
}

.input-group {
  margin-top: 4px;
  margin-bottom: 30px;
}

ul.tag-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  > li {
    margin: 0 4px 4px 0;
    display: inline-block;
  }
}

// for tag input
ul.form-group {
  list-style-type: none;
  padding-left: 0;
}
