.main-call-to-action {
  padding: 200px 0;
  text-align: center;
}

.tag-list a {
  margin: 4px 4px 4px 0;
  span.badge {
    font-size: 10px;
    margin-left: 5px;
  }
}

.input-group {
  margin-top: 4px;
  margin-bottom: 30px;
}

ul.tag-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  > li {
    margin: 0 4px 4px 0;
    display: inline-block;
  }
}

.icons {
  font-size: 13px;
  vertical-align: 2px;
  margin-right: 1em;
  > .fa {
    font-size: 15px;
    vertical-align: 0;
  }
}

// for tag input

ul.form-group {
  list-style-type: none;
  padding-left: 0;
}

ul.form-group li {
  display: inline;
}

.search-container {
  margin-left: ($grid-gutter-width / -2);
  margin-right: ($grid-gutter-width / -2);
}

@media (min-width: $screen-md) {
  .search-container .tag-list {
    height: 10px;
    overflow: visible; 
  }
}
