$green: #27AE60;
$red: #996666;

$brand-success: #996666;
$state-success-bg: $green;
$state-success-border: $green;

$btn-default-bg: #437477;
$input-border: lighten($btn-default-bg, 30%);
$nav-tabs-border-color: lighten($btn-default-bg, 30%);
$nav-tabs-active-link-hover-border-color: lighten($btn-default-bg, 30%);

$well-bg: white;
$well-border: lighten($btn-default-bg, 30%);
